.replies {
  padding: 0;
  margin: 0;
  margin-top: var(--little-font);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 0.75rem;
}

.text {
  margin: 0;
}

.replyList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.showReplyButton {
  margin-top: calc(var(--little-font) - 0.5rem);
  composes: text;
  font-family: "inter", system-ui, sans-serif;
  text-align: start;
  font-size: var(--little-font);
  font-weight: 400;
  padding: 0;
  background-color: transparent;
}

.showReplyButton:hover {
  background-color: transparent;
  color: var(--main-color-3);
  transition: color 250ms ease-out;
}
