.replies {
  padding: 0;
  margin: 0;
  margin-top: var(--little-font);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 0.75rem;
}

.text {
  margin: 0;
}

.replyList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.reply {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.username {
  composes: text;
  font-family: "ibm-plex-sans", system-ui, sans-serif;
  font-size: var(--small-font);
  font-weight: 300;
}

.mainReply {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.replyProfileInfo {
  display: flex;
  gap: 0.5rem;
}

.replyUserProfile {
  width: calc(15px + 1vw);
  height: calc(15px + 1vw);
  border-radius: 50%;
}

.replyUserProfile:hover {
  box-shadow: -1px 1px 1px 1px var(--accent-color-1),
    0 0 10px var(--main-accent-color);
  transition: box-shadow 500ms ease-out;
}

.replyDisplayName {
  composes: text;
  font-weight: 500;
  font-size: var(--small-little-font);
  border-bottom: 1px solid var(--main-color);
}

.replyUsername {
  composes: username;
  font-size: var(--little-font);
}

.replyDisplayName:hover {
  border-bottom: 1px solid var(--main-color-2);
  transition: border 500ms ease-in-out;
}

.replyUsername:hover {
  color: var(--accent-color-1);
  transition: color 500ms ease-out;
}

.replyText {
  composes: text;
  font-size: var(--small-little-font);
}

.interactionInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.interactionButtons {
  display: flex;
  gap: 1rem;
}

.button {
  width: 1em;
  height: 1em;
  padding: 0;
  border-radius: 0;
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #000000;
}

.button:hover {
  background-color: #000000;
  transition: background-image 500ms ease-out;
}

.replyButton {
  composes: button;
  background-image: url("../../assets//images/comment_icon.svg");
}

.replyButton:hover {
  background-image: url("../../assets//images/comment_icon_hover.svg");
}

.replyTo {
  composes: username;
  font-size: var(--small-little-font);
  color: var(--accent-color-1);
}

.showReplyButton {
  margin-top: calc(var(--little-font) - 0.5rem);
  composes: text;
  font-family: "inter", system-ui, sans-serif;
  text-align: start;
  font-size: var(--little-font);
  font-weight: 400;
  padding: 0;
  background-color: transparent;
}

.showReplyButton:hover {
  background-color: transparent;
  color: var(--main-color-3);
  transition: color 250ms ease-out;
}
