.postImages {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(1em, calc(0.5rem + 2vw), 3rem);
  gap: clamp(1em, calc(0.5rem + 2vw), 3rem);
  overflow-y: auto;
  list-style: none;
  max-height: calc(
    100dvh - var(--nav-height) - calc(clamp(1em, calc(0.5rem + 2vw), 3rem) * 2)
  );
  background-image: linear-gradient(
    var(--main-accent-color),
    var(--main-color)
  );
}

.postImagesSingle {
  composes: postImages;
}

.postImages::-webkit-scrollbar {
  width: 0.5vw;
}

.postImages::-webkit-scrollbar-track {
  background: var(#141414);
}

.postImages::-webkit-scrollbar-thumb {
  background: var(--main-color-3);
}

.postImages::-webkit-scrollbar-thumb:hover {
  background: var(--main-accent-color);
}

.imageItem {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 820px) {
  .postImagesSingle {
    justify-content: center;
  }
}
