.signupPageWrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-image: url("../../assets/images/mr-karl-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.h1 {
  font-size: var(--medium-large-font);
  margin: 0;
}

.text {
  margin: 0;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191919f6;
  width: min(calc(450px + 7.5vw + 7.5vh), 100vw);
  padding: 2rem 1rem;
}

.main {
  box-sizing: border-box;
  width: 100%;
  padding: min(calc(1em + 1.5vw + 1.5vh), 4vw);
}

.imgContainer {
  margin: 2rem;
}

.logo {
  width: max(100px, 6vw);
  height: auto;
}

.mainItem {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 10%;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  width: 100%;
}

.itemContainer {
  display: flex;
  flex-direction: column;
}

.errorTxt {
  color: var(--invalid-color);
  font-size: var(--small-font);
  align-self: flex-start;
}
