.previewList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5em;
  padding: 0;
  list-style: none;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.removeButton {
  position: absolute;
  background-color: #000000a0;
  top: 0.5em;
  right: 0.5em;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  background-image: url("../../assets//images/close-icon-light.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  align-self: flex-end;
  transition: all 250ms ease-in;
}

.removeButton:hover {
  background-image: url("../../assets//images/close-icon-hover.svg");
  background-color: #000000a0;
  transform: scale(1.25);
  transition: all 250ms ease-in;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.removeButtonLoader {
  composes: removeButton;
  background: none;
}

.removeButton:hover {
  background: none;
  transform: none;
  transition: all 250ms ease-in;
}
