.text {
  margin: 0;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.username {
  composes: text;
  font-family: "ibm-plex-sans", system-ui, sans-serif;
  font-size: var(--small-font);
  font-weight: 300;
}

.mainComment {
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: 0.5rem;
}

.commentProfileInfo {
  display: flex;
  gap: 0.5rem;
}

.commentUserProfile {
  width: calc(25px + 1vw);
  height: calc(25px + 1vw);
  border-radius: 50%;
}

.commentUserProfile:hover {
  box-shadow: -1px 1px 1px 1px var(--accent-color-1),
    0 0 10px var(--main-accent-color);
  transition: box-shadow 500ms ease-out;
}

.commentDisplayName {
  composes: text;
  font-weight: 500;
  font-size: var(--small-font);
  border-bottom: 1px solid var(--main-color);
}

.commentUsername {
  composes: username;
  font-size: var(--small-little-font);
}

.commentDisplayName:hover {
  border-bottom: 1px solid var(--main-color-2);
  transition: border 500ms ease-in-out;
}

.commentUsername:hover {
  color: var(--accent-color-1);
  transition: color 500ms ease-out;
}

.commentText {
  composes: text;
  font-size: var(--small-little-font);
}

.interactionInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.interactionButtons {
  display: flex;
  gap: 1rem;
}

.button {
  width: 1em;
  height: 1em;
  padding: 0;
  border-radius: 0;
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #000000;
}

.button:hover {
  background-color: #000000;
  transition: background-image 500ms ease-out;
}

.reply {
  composes: button;
  background-image: url("../../assets//images/comment_icon.svg");
}

.reply:hover {
  background-image: url("../../assets//images/comment_icon_hover.svg");
}

.likeCountText {
  margin: 0;
  font-size: calc(var(--small-little-font) - 0.2rem);
}
