.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 1rem;
  gap: 1rem;
  position: relative;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: min(1em, 2vw);
}

.navItem {
  font-size: var(--medium-font);
  border: 2px solid var(--main-color);
}

.navItem:hover {
  border-bottom: 2px solid var(--accent-color-1);
  transition: border 500ms ease-out;
}

.activeNavItem {
  composes: navItem;
  border-bottom-color: var(--accent-color-2);
}

.activeNavItem:hover {
  border-bottom-color: var(--accent-color-3);
}

.link {
  display: flex;
  justify-items: center;
}

.link:hover {
  color: var(--main-color-2);
  transition: color 500ms ease-out;
}

.logo {
  width: var(--logo);
  height: auto;
}

.logoutButton {
  composes: link;
  text-align: left;
  padding: 0;
  background-color: inherit;
}

.logoutButton:hover {
  background-color: inherit;
}

.navItemCreate {
  composes: navItem;
}

.navItemCreate:hover {
  border-color: transparent;
}

.createPostButton {
  composes: logoutButton;
  border-color: var(--main-color-3);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.createPostButton:hover {
  border-color: var(--accent-color-1);
  transition: border 500ms ease-in-out;
}

.createPostButton::before {
  content: "";
  width: 1em;
  height: 1em;
  background-image: url("../../assets//images//add-icon.svg");
  background-repeat: no-repeat;
  background-size: 1em 1em;
}

.itemContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.exploreLink {
  display: flex;
  align-items: center;
  position: relative;
}

.exploreLink::before {
  margin-right: 0.5em;
  content: " ";
  height: 1.15em;
  width: 1.15em;
  background-image: url("../../assets/images/explore_icon.svg");
  background-size: 1.15em 1.15em;
  background-repeat: no-repeat;
}

.menuNavItem {
  height: var(--logo);
  padding: 0;
  margin: 0;
  border: none;
}

.userProfileAvatar {
  border-radius: 50%;
  border: none;
  width: var(--logo);
  height: var(--logo);
  padding: 0;
}

.avatar {
  background-color: var(--main-color-3);
  border-radius: inherit;
  padding: 0;
  width: var(--logo);
  height: auto;
}

.avatar:hover {
  box-shadow: -1px 1px 1px 1px var(--accent-color-1),
    0 0 10px var(--main-accent-color);
  transition: box-shadow 500ms ease-out;
}

.hidden {
  display: none;
}

.menu {
  border-top: 1px solid var(--main-accent-color);
  width: min(calc(150px + 10vw), 75vw);
  z-index: 1;
  position: absolute;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0;
  padding: 1rem 1.5rem;
  list-style: none;
  top: var(--nav-height);
  align-items: left;
  right: 0;
}

.menuItem {
  display: flex;
  justify-content: left;
  width: 100%;
  flex: auto;
  border-bottom: 1px solid transparent;
  border-radius: 4px;
}

.menuItem:hover {
  border-bottom: 1px solid var(--accent-color-1);
}

.menuChild {
  border-bottom: 1px solid transparent;
  background-color: inherit;
  color: var(--main-color-3);
  font-size: var(--medium-little-font);
  flex: auto;
  padding: 0.15em;
  text-align: left;
  border-radius: inherit;
}

.menuChild:hover {
  background-color: inherit;
}

.activeMenuChild {
  composes: menuChild;
  background-color: "#212121";
  border-bottom-color: var(--accent-color-1);
}
