.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 1rem;
  gap: 1rem;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: min(1em, 2vw);
}

.navItem {
  font-size: var(--medium-font);
  border: 2px solid var(--main-color);
}

.navItem:hover {
  border-bottom: 2px solid var(--accent-color-1);
  transition: border 500ms ease-out;
}

.link {
  display: flex;
  justify-items: center;
}

.link:hover {
  color: var(--main-color-2);
  transition: color 500ms ease-out;
}

.logo {
  width: var(--logo);
  height: auto;
}

.logoutButton {
  composes: link;
  padding: min(0.25em, 0.5vw) min(2vw, 1em);
  background-color: inherit;
}

.logoutButton:hover {
  background-color: inherit;
}

.navItemCreate {
  composes: navItem;
}

.navItemCreate:hover {
  border-color: transparent;
}

.createPostButton {
  composes: logoutButton;
  border-color: var(--main-color-3);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.createPostButton:hover {
  border-color: var(--accent-color-1);
  transition: border 500ms ease-in-out;
}

.createPostButton::before {
  content: "";
  width: 1em;
  height: 1em;
  background-image: url("../../assets//images//add-icon.svg");
  background-repeat: no-repeat;
  background-size: 1em 1em;
}

.itemContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.exploreLink {
  display: flex;
  align-items: center;
  position: relative;
}

.exploreLink::before {
  margin-right: 0.5em;
  content: " ";
  height: 1.15em;
  width: 1.15em;
  background-image: url("../../assets/images/explore_icon.svg");
  background-size: 1.15em 1.15em;
  background-repeat: no-repeat;
}
