.mainWrapper {
  display: flex;
  flex-direction: column;
  overflow-anchor: none;
}

.mainContent {
  max-height: calc(100dvh - var(--nav-height) - 3em);
  padding-bottom: 3em;
  overflow-y: auto;
}

.mainContent::-webkit-scrollbar {
  width: 0.5vw;
}

.mainContent::-webkit-scrollbar-track {
  background: var(#141414);
}

.mainContent::-webkit-scrollbar-thumb {
  background: var(--main-color-3);
}

.mainContent::-webkit-scrollbar-thumb:hover {
  background: var(--main-accent-color);
}

.heading {
  text-align: start;
  font-size: var(--big-small-font);
  color: var(--main-color-3);
  padding: 0 clamp(8px, calc(0.75rem + 0.25vw + 0.25vh), 3rem);
  margin-bottom: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.text {
  font-size: var(--medium-little-font);
  color: var(--main-color-3s);
  margin: 0;
  padding: 0;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em;
}

.observer {
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

@media screen and (max-width: 450px) {
  .heading {
    padding: 0 1.2vw;
  }
}

.errorElement {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-self: center;
  background-color: #151515;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.75em 1em;
  margin-top: 1em;
}

.errorMsg {
  font-size: var(--medium-font);
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.refetchButton {
  content: url("../../assets/images/refresh-icon-hover.svg");
  composes: refetchButton;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
  background-color: transparent;
  background-image: url("../../assets/images/refresh-icon.svg");
  background-position: center;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  transition: all 250ms ease-out;
}

.refetchButton:hover {
  background-color: transparent;
  transform: scale(1.025);
  background-image: url("../../assets/images/refresh-icon-hover.svg");
  transition: all 250ms ease-in;
}
