.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.label {
  color: var(--main-color);
  position: absolute;
  left: 0.5rem;
}

.hiddenLabel {
  composes: label;
  opacity: 0;
}

.input {
  padding: 0.5rem;
  width: 100%;
}

.input:not(:focus)::placeholder {
  color: var(--main-color);
}

.input:focus {
  outline-color: var(--accent-color-1);
  border-color: var(--accent-color-1);
}

.visibilityBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.5rem;
  background-color: transparent;
  padding: 0;
  height: 100%;
  width: 50px;
  border-radius: 0;
}

.visibilityBtn:hover {
  background-color: transparent;
}

.icon {
  display: block;
  height: 100%;
  width: calc(var(--medium-font) * 2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(var(--medium-font) * 1.25) auto;
}

.hidden {
  composes: icon;
  background-image: url("../../assets/images//visibility-off-icon.svg");
}

.hidden:hover {
  background-image: url("../../assets/images//visibility-off-icon-hover.svg");
}

.visible {
  composes: icon;
  background-image: url("../../assets/images//visibility-icon.svg");
}

.visible:hover {
  background-image: url("../../assets/images//visibility-icon-hover.svg");
}

.hidden:hover,
.visible:hover {
  -webkit-transition: background-image 300ms ease-in;
  -ms-transition: background-image 300ms ease-in;
  transition: background-image 300ms ease-in;
}
