.button {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  border-radius: 0;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
}

.button:hover {
  background-color: #000000;
  transition: all 500ms ease-out;
}

.like {
  composes: button;
  background-image: url("../../assets/images/like_icon.svg");
}

.like:hover {
  background-image: url("../../assets/images/like_icon_hover.svg");
}

.liked {
  composes: like;

  background-image: url("../../assets/images/like_icon_liked.svg");
}

.liked:hover {
  transform: scale(1.15);
  background-image: url("../../assets/images/like_icon_liked_hover.svg");
}

.likeSmall {
  composes: button;
  width: 1em;
  height: 1em;
  background-size: 1em 1em;
  background-image: url("../../assets/images/like_icon.svg");
}

.likeSmall:hover {
  background-image: url("../../assets/images/like_icon_hover.svg");
}

.likedSmall {
  composes: likeSmall;
  background-image: url("../../assets/images/like_icon_liked.svg");
}

.likedSmall:hover {
  transform: scale(1.15);
  background-image: url("../../assets/images/like_icon_liked_hover.svg");
}
