.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 0.75rem;
  width: 100%;
}

.text {
  margin: 0;
}

.commentHeading {
  composes: text;
  font-size: var(--medium-little-font);
}

.commentList {
  display: flex;
  max-width: 100%;
  width: 100%;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.commentText {
  composes: text;
  font-size: var(--small-little-font);
  color: #757575;
}

.loaderContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.observer {
  margin-bottom: 3em;
}
