.comments {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 0.75rem;
  width: 100%;
}

.text {
  margin: 0;
}

.commentHeading {
  composes: text;
  font-size: var(--medium-little-font);
}

.commentList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.commentText {
  composes: text;
  font-size: var(--small-little-font);
  color: #757575;
}
