#root {
  max-width: 1920px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #060606;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 100dvh;
  overflow-y: auto;
}

#root::-webkit-scrollbar {
  width: calc(0.5vw);
}

#root::-webkit-scrollbar-track {
  background: var(#141414);
}

#root::-webkit-scrollbar-thumb {
  background: #757575;
}

#root::-webkit-scrollbar-thumb:hover {
  background: var(--main-accent-color);
}
