:root {
  --main-color: #191919;
  --main-color-2: #ffffff;
  --main-color-3: #d9d9d9;
  --main-accent-color: #798ea4;
  --medium-font: clamp(1rem, calc(1rem + 0.25vw), 3rem);
  --medium-large-font: clamp(1.25rem, calc(1.25rem + 0.25vw), 3.25rem);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

p,
label,
button {
  font-size: var(--medium-font);
}

input {
  background-color: var(--main-color-3);
}

button {
  background-color: var(--main-accent-color);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.25em 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: var(--main-color-2);
  transition: border-color 0.25s;
}

button:hover {
  background-color: #67798b;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
