@font-face {
  font-family: "ibm-plex-sans";
  src: url("./assets/fonts/ibm-plex-sans/ibmplexsans-light-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibm-plex-sans/ibmplexsans-light-webfont.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ibm-plex-sans";
  src: url("./assets/fonts/ibm-plex-sans/ibmplexsans-regular-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibm-plex-sans/ibmplexsans-regular-webfont.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ibm-plex-sans";
  src: url("./assets/fonts/ibm-plex-sans/ibmplexsans-semibold-webfont.woff")
      format("woff2"),
    url("./assets/fonts/ibm-plex-sans/ibmplexsans-semibold-webfont.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ibm-plex-sans";
  src: url("./assets/fonts/ibm-plex-sans/ibmplexsans-bold-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibm-plex-sans/ibmplexsans-bold-webfont.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/inter-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/inter/inter-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/inter-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/inter/inter-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/inter-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts/inter/inter-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

:root {
  --main-color: #191919;
  --main-color-2: #ffffff;
  --main-color-3: #d9d9d9;
  --main-accent-color: #798ea4;
  --accent-color-1: #3bc1e7;
  --accent-color-2: #3ce8af;
  --invalid-color: #ff1717;
  --warning-color: #e8903c;
  --logo: clamp(35px, calc(1.75rem + calc(0.6vh + 0.6vw)), 5rem);
  --little-font: clamp(0.7rem, calc(0.7rem + 0.1vw), 2rem);
  --small-little-font: clamp(0.75rem, calc(0.75rem + 0.1vw), 2.15rem);
  --small-font: clamp(0.9rem, calc(0.8rem + 0.15vw), 2.5rem);
  --medium-little-font: clamp(0.9rem, calc(0.85rem + 0.15vw), 2.75rem);
  --medium-font: clamp(1rem, calc(0.925rem + 0.25vw), 3rem);
  --medium-large-font: clamp(1.25rem, calc(1.25rem + 0.25vw), 3.25rem);
  --big-small-font: clamp(1.5rem, calc(1.5rem + 0.25vw), 3.75rem);
  --big-large-font: clamp(4.5rem, calc(6rem + calc(0.25vw + 0.25vw)), 12rem);
  --nav-height: calc(var(--logo) + 2rem);
  font-family: "ibm-plex-sans", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: inherit;
  color: var(--main-color-3);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  line-height: 1.1;
}

a,
p,
label,
button,
input,
input::placeholder,
textarea {
  font-size: var(--medium-font);
}

input {
  background-color: var(--main-color-2);
}

input:hover {
  background-color: var(--main-color-3);
}

input[type="file"] {
  display: none;
}

button {
  background-color: var(--main-accent-color);
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.25em 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: var(--main-color-2);
  transition: border-color 0.25s;
}

button:hover {
  background-color: #67798b;
}

input:hover,
button:hover {
  -webkit-transition: background-color 900ms ease-out;
  -ms-transition: background-color 900ms ease-out;
  transition: background-color 900ms ease-out;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
